#help1 {
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 10px;
    margin-left: 200px;
    padding: 10 0 30 20;
    display: flex;
    font-size: 20px;
}

#help1 button {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 180px;
    border-radius: 15px;
    font-size: 10px;
    margin-top: 20px;
}

#help2 {
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 10px;
    margin-left: 200px;
    padding: 10 0 30 20;

    font-size: 20px;
}