
        #set {
            width: 300px;
            height: 250px;
            background-color: aliceblue;
            border-radius: 15px;
            box-shadow: 10px;
            margin-left: 300px;
            padding: 10 0 0 30;
        }

        #set button {
            background-color: black;
            color: white;
            width: 100px;
            height: 30px;
            margin-left: 80px;
            border-radius: 15px;
            font-size: 15px;

        }
        #set2 {
            width: 300px;
            height: 75px;
            background-color: aliceblue;
            border-radius: 15px;
            box-shadow: 10px;
            margin-left: 300px;
            padding: 10 0 20 30;
            display: flex;
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: white;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-top: 25px;
            
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        #set3 {
            width: 300px;
            height: 50px;
            background-color: aliceblue;
            border-radius: 15px;
            box-shadow: 10px;
            margin-left: 300px;
            padding: 10 0 30 30;
            display: flex;
            font-size: 20px;
            
        }
        #set3 button{
            background-color: black;
            color: white;
            width: 100px;
            height: 30px;
            margin-left: 30px;
            border-radius: 15px;
            font-size: 15px;
            margin-top: 20px;
        }
    